services:
  base-docker:
    build:
      context: .
      target: base-docker
      cache_from:  # should speed up the build in CI, where we have a cold cache
        - ghcr.io/opensafely-core/base-docker
      secrets:
        - ubuntu_pro_token
      args:
        # this makes the image work for later cache_from: usage
        - BUILDKIT_INLINE_CACHE=1
        # env vars supplied by make/just
        - BASE_CREATED
        - BASE_GITREF
    init: true

  base-docker-20.04:
    extends: base-docker
    image: "base-docker:20.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:20.04

  base-docker-22.04:
    extends: base-docker
    image: "base-docker:22.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:22.04

  base-docker-24.04:
    extends: base-docker
    image: "base-docker:24.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:24.04

  base-action-20.04:
    extends: base-docker
    image: "base-action:20.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:20.04
      target: base-action

  base-action-22.04:
    extends: base-docker
    image: "base-action:22.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:22.04
      target: base-action

  base-action-24.04:
    extends: base-docker
    image: "base-action:24.04"
    build:
      args:
        - UBUNTU_VERSION=ubuntu:24.04
      target: base-action

secrets:
  ubuntu_pro_token:
    file: ${UBUNTU_PRO_TOKEN_FILE:-.secrets/ubuntu_pro_token}
