name: Run tests
on:
  pull_request:
env:
  IMAGE_NAME: base-docker
  UBUNTU_PRO_TOKEN: ${{ secrets.UBUNTU_PRO_TOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - uses: extractions/setup-just@69d82fb0233557aec017ef13706851d0694e0f1d
    - name: Build image
      run: just build
    - name: Run tests
      run: just test
    - name: Run lint
      run: just lint
